.parallax-privacy {
  background-image: url("./bg.jpg");
  min-height: 100vh;
  background-attachment: fixed; /* creates parallax */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
}


