.vedio {
  width: 80%;
  max-width: 400px;
  aspect-ratio: 1/1; /* keeps it square */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 15px;
  border: 3px solid #cf2b2b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.vedio video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}


.logo{
    height:20%;
    width:30%;
    border-radius:25px;
}
